@font-face {
    font-family: 'space grotesk';
    src: url('/public/fonts/SpaceGrotesk-VariableFont_wght.ttf');
}

* {
    transition: all 0.2s linear;
    box-sizing: border-box;
}


body{
    margin: 0px;
    min-height: 100vh;
    background-color: var(--Black, #151515);
    overflow-x: hidden;
}


:root{
    --font: 'space grotesk';
    --closest: 100;
    --closer: 75;
    --close: 50;
    --far: 25;
    --farthest: -1;
}
